<%
var title = locals.title ? locals.title : '';
var url = locals.url ? locals.url : '../../';
%>
<!doctype html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<!-- 캐싱방지 -->
	<!-- <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
	<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT"> -->
	<!-- 모바일 상단,타이틀바,주소창 색변경(안드로이드에서 크롬,파폭,오페라,삼성브라우저만 가능) -->
	<!-- <meta name="theme-color" content="#4285f4"> -->

	<title><%= title %></title>

	<!-- <link rel="stylesheet" href="<%= url %>common/css/default.css" /> -->
	<link rel="stylesheet" href="<%= url %>common/css/common.css" />
	<link rel="stylesheet" href="<%= url %>common/css/swiper.css" />
	<link rel="stylesheet" href="<%= url %>common/css/tui-date-picker.css">
	<link rel="stylesheet" href="<%= url %>common/css/style.css" />
	
	<script src="<%= url %>common/js/jquery-3.4.1.min.js"></script>
	<script src="<%= url %>common/js/jquery-ui.min.js"></script>
	<script src="<%= url %>common/js/tui-date-picker.js"></script>
	<script src="<%= url %>common/js/swiper.js"></script>
	<script src="<%= url %>common/js/common.js"></script>
</head>
<body>

<!-- 241206 kb 수정 -->
<!-- 본문 바로가기 영역  -->
<div class="skip"><a class="quick-btn" href="#container">본문바로가기</a></div>
<!--// 본문 바로가기 영역  -->
<div class="wrap">

